@font-face{
    font-family: 'Cera Pro Regular';
    src: url('fonts/CeraPro-Regular.eot') format('truetype');
    src: url('fonts/CeraPro-Regular.ttf') format('truetype');
    src: url('fonts/CeraPro-Regular.woff')  format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Cera Pro Medium';
    src: url('fonts/CeraPro-Medium.eot') format('truetype');
    src: url('fonts/CeraPro-Medium.ttf') format('truetype');
    src: url('fonts/CeraPro-Medium.woff')  format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Cera Pro Bold';
    src: url('fonts/CeraPro-Bold.eot') format('truetype');
    src: url('fonts/CeraPro-Bold.ttf') format('truetype');
    src: url('fonts/CeraPro-Bold.woff')  format('woff');
    font-weight: normal;
    font-style: normal;
}
.body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.heading {
    color: #4CAF50;
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.form {
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
    font-size: 14px;
}

.input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.button.google {
    background-color: dodgerblue;
}

.button.facebook {
    background-color: #3b5998;
}

.button:not(.google):not(.facebook) {
    background-color: #4CAF50;
}

.text {
    margin: 10px 0;
    text-align: center;
    font-size: 14px;
    color: #666;
}
.divider {
    width: 60%;
    margin: 20px 0;
    border: 1px solid #ddd;
}

.social-buttons {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/*Home Page*/
main{
    padding: 50px 120px 52px;
}

body {
    font-family: Cera-Pro, sans-serif;
    background-color: #ffffff;
    color: #333;
}

header {
    background-color: #fff;
    border-bottom: 1px solid rgba(70, 163, 0, 0.05);
    padding-bottom: 25px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #4CAF50;
}

.logo img {
    height: 30px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 16px;
    font-family: 'Cera Pro Regular', serif;
    border-bottom: 3px solid transparent;
    padding: 25px;
}

nav ul li a.active {
    border-bottom: 3px solid #46A358;
    font-family: 'Cera Pro Bold', serif;
    padding: 25px;
    font-weight: bold;
}

.logout-icon {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.login-btn {
    display: inline-flex;
    align-items: center;
    padding: 7px 17px;
    background-color: #46A358;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    gap: 4px;
    font-family: 'Cera Pro Medium', serif;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    background-color: #f9f9f9;
    font-weight: 900;
}


.hero-text h1 {
    font-size: 70px;
    margin: 20px 0;
}

.hero-text h1 span {
    color: #46A358;
}

.hero-text .description {
    font-size: 14px;
    color: #3D3D3D;
    margin-bottom: 24px;
    font-weight: 400;
}

.shop-btn {
    background-color: #46A358;
;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.plants-container {
    display: flex;
    align-items: flex-end;

}

.plant-image.large {
height: 350px;
}

.plant-image.small {
    width: 100px;
    margin-right: -140px;
    transform: translateY(-18px);
}